@import 'variables.scss';
@import 'mixins.scss';

$subheading_font_size: 28;

main {
    clear:both;
    height:100vh;
    display:block; // inline by default.. (annoying)
    background-color:$chwm_grey_70;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)),
    url('/assets/images/eliabe-costa-702725-unsplash.jpg');
    background-position:50% 100%;
    background-size:cover;
}
.content-body {
    font-family:$primary_font_family;
    @include vertical_align;
    display:table;
    margin:0 auto;
    color:#fff;
}
.main-header-tmp { // We'll revisit this later.
    background:fuchsia;
    height:120px;
    position:absolute;
    opacity:0.7;
    top:0;
    left:0;
    width:100%;
    z-index:10;
}
.heading {
    text-transform:uppercase;
    font-size:(44/16)+em;
}
.subheading {
    font-size:($subheading_font_size/16)+em;
    margin-top:(15/$subheading_font_size)+em;
}
.buttons {
    margin-top:(30/16)+em;
    margin-left:15+em;
}
.track-button {
    display:block;
    color:inherit;
    cursor:pointer;
    width:31%;
    padding:(20/16)+em;
    text-decoration:none;
    margin:0 (20/16)+em 0 0;
    background:$primary_clr;
    text-transform:uppercase;
    &:last-child {margin:0;}
    // Pseudo... Chop!
    &:hover, &:focus {background:$chwm_grey_50;}
}