.card{
    width: 900px;
    border-color:grey;
    border-style:solid;
    border-width:thin;
    margin-bottom:20px;
    }
    body{
        padding:2%;
    }
  h1{
      margin-bottom:10px;
      font-weight: bold;
      text-transform:uppercase;
      color:grey
  }
header{
    padding:2%;
    background:#C0C0C0;
    font-weight: bold;
    text-transform:uppercase;
    

}

.select{
  color:#303030;
  font-weight:bold;
}


