@import 'variables.scss';
@import 'mixins.scss';

$breadcrumb_link_font_size: 14;
$nav_button_onclr: #f6f6f6;

/////////////////////////////////////////////////////////////////////////

main {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    max-width:1300px;
    margin:auto;
   
}

.side__bar{
border-right-color: grey;
border-right-style:solid;
border-right-width:thin;
width:30%
}

.content{
width:65%;

}

ul{
    list-style: none
}
li{
    background:grey;
    color:white;
    font-weight:bold;
    padding:4%;
    margin-bottom:10px;
    cursor:pointer;
    width:85%;
    border-color:grey;
    border-style:solid;
    border-width:thin;
   
}



a {
  color: inherit;
}
.app-header {
  padding-top: (200/16) + em;
  padding-left: (40/16) + em;
  padding-right: (40/16) + em;
  background-color: $chwm_grey_70;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url('/assets/images/eliabe-costa-702725-unsplash.jpg');
  background-position: 50% 40%;
  background-size: cover;
}
.app-header__wrapper {
  margin: 0 auto;
  position: relative;
  max-width: (1024/16) + em;
  &:after {
    @include clearfix;
  }
}
.app-header__main {
  color: #fff;
  float: left;
  padding-bottom: (30/16) + em;
}
.app-header__nav {
  right: 0;
  bottom: 0;
  position: absolute;
  font-family: $primary_font_family;
  li {
    float: left;
  }
}
.app-header__nav-button {
  display: block;
  color: #24292e;
  background: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: (20/16) + em (40/16) + em;
  $btn_roundness: (10/16) + em;
  li:first-child & {
    @include border-radius($btn_roundness 0 0 0);
  }
  li:last-child & {
    @include border-radius(0 $btn_roundness 0 0);
  }
  &.on {
    cursor: text;
    background: $nav_button_onclr;
    color: rgba(88, 96, 105, 0.5);
    @include box-shadow(inset -2px -2px 4px rgba(0, 0, 0, 0.03));
  }
}
.app-header__breadcrumb-link {
  display: table;
  font-size: ($breadcrumb_link_font_size/16) + em;
  margin-bottom: (20 / $breadcrumb_link_font_size) + em;
  &:after {
    // Will come back to this later.
    content: '';
    width: 7px;
    height: 10px;
    background: grey;
    display: inline-block;
    margin-left: (12 / $breadcrumb_link_font_size) + em;
  }
}
.app-header__heading {
  text-transform: uppercase;
  font-family: $primary_font_family;
  font-size: (36/16) + em;
}

.track-button {
    color:#fff;
    cursor:pointer;
    background:grey;
    text-transform:uppercase;
    &:last-child {margin:0;}
    // Pseudo... Chop!
    &:hover, &:focus {background:#303030;}
}